@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

.main-author-img {
  height: 300px;
}

.all-authors {
  font-family: "PT Sans";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 300px;
  row-gap: 30px;
  column-gap: 30px;
}
