.main-book-img {
  height: 300px;
}
.all-books {
  font-family: "PT Sans";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-bottom: 80px; */
  padding: 30px;
  row-gap: 30px;
  column-gap: 70px;
}
