.main-book-img {
  height: 300px;
}
.all-books {
  font-family: "PT Sans";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 300px;
  row-gap: 30px;
  column-gap: 30px;
}

/* .header-book {
  font-family: "PT Sans";
  color: white;
  display: flex;
  margin-bottom: 0px;
} */
