@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

.author-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "PT Sans";
}
.author-sub-create {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.author-create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.author-add-label {
  font-size: 30px;
}
.author-create-form form {
  display: flex;
  max-width: 500px;
  height: 300px;
  width: 90%;
  flex-direction: column;
  align-items: center;
  background-color: #826aed;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 0;
  margin-bottom: 30px;
}
.add-label {
  font-size: 28px;
  margin-bottom: 5px;
  padding: 10px;
  font-weight: bold;
}
.author-input {
  width: 60%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #edf6f9;
  border: none;
}

.author-create-button {
  margin-top: 10px;
  padding: 8px;
  transition-duration: 0.4s;
  border-radius: 5px;
  border: grey;
  color: white;
  background-color: #afb3f7;
  font-family: "PT Sans";
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13px;
}

.author-create-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 480px) {
  .add-label {
    font-size: 20px;
  }
  .author-add-label {
    font-size: 22px;
  }
  .author-create-form {
    margin-top: 20px;
  }
}
