@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

.book-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "PT Sans";
}
.book-sub-create {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.book-create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 150px;
}
.book-create-form form {
  display: flex;
  max-width: 500px;
  height: 600px;
  width: 90%;
  flex-direction: column;
  align-items: center;
  background-color: #826aed;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 0;
  margin-bottom: 40px;
}
.book-label {
  font-size: 22px;
  margin-bottom: 5px;
  padding: 6px;
  font-weight: bold;
}
.book-input {
  width: 60%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #edf6f9;
  border: none;
}
.book-main-header {
  font-size: 30px;
}

.book-create-button {
  margin-top: 10px;
  padding: 10px;
  transition-duration: 0.4s;
  border-radius: 5px;
  border: grey;
  color: white;
  background-color: #afb3f7;
  font-family: "PT Sans";
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
}

.book-create-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 480px) {
  .book-label {
    font-size: 18px;
  }
  .book-main-header {
    font-size: 22px;
  }
  .book-create-form {
    margin-top: 20px;
  }
}
